* {
    margin: 0;
    padding: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

strong {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #E1C16E;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #E1C16E;
}

.recipe {
    width: 300px;
    height: 200px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    border: 1px solid hsla(0, 0%, 70%, 0.4);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 70%, 0.205);
    display: inline-block;
    margin-left: 10px;
}

.recipe .style-h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.method {
    width: 350px;
    height: 200px, auto;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid hsla(0, 0%, 70%, 0.205);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 70%, 0.205);
    display: inline-block;
}


.tidy {
    margin-top: 15px;
    color: red;
}