body {
    background: #FEFEFE;
}

h1 {
    color: red;
}
.logo {
    width: 50px;
    height: 50px;
    fill: red;
    align-self: center;
}
header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1em;
    width:fit-content;
    align-items: left;
    margin-left: 1em;

    h1 {
        align-self: center;
    }
}