:root {
  --primary-color: #acbdba;
  --secondary-color: #cddddd;
  --font-color: #2e2f2f;
  --font-size: 16px;
  --spacing: 20px;
  --font: sans-serif;
}

body {
  background: var(--primary-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font: var(--font-color);
  font-size: var(--font-size);
  font: var(--font);
}

h1 {
  color: #350c49;
}

h1,
h2 {
  text-align: center;
}

.recipe-container {
  background: var(--secondary-color);
  width: 100vw;
  padding: var(--spacing);
  border: 2px solid #333;
  flex-grow: 1;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: var(--spacing);
}

.recipe-grid li {
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  list-style: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
